<a href="https://colab.research.google.com/github/PhwTha00/python/blob/main/06_Merge/Fictitous%20Names/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fictitious Names

### Introduction:

This time you will create a data again

Special thanks to [Chris Albon](http://chrisalbon.com/) for sharing the dataset and materials.
All the credits to this exercise belongs to him.  

In order to understand about it go [here](https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/).

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create the 3 DataFrames based on the following raw data

In [4]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Step 3. Assign each to a variable called data1, data2, data3

In [8]:
data1 = pd.DataFrame(raw_data_1)
data2 = pd.DataFrame(raw_data_2)
data3 = pd.DataFrame({'subject_id': ['1', '2', '3', '4', '5'],
                      'test_score': [88, 92, 78, 90, 87]})

print(data1)
print(data2)
print(data3)

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
  subject_id first_name last_name
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan
  subject_id  test_score
0          1          88
1          2          92
2          3          78
3          4          90
4          5          87

### Step 4. Join the two dataframes along rows and assign all_data

In [10]:
all_data = pd.concat([data1, data2])
print(all_data)

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

### Step 5. Join the two dataframes along columns and assing to all_data_col

In [12]:
all_data_col = pd.concat([data1, data2], axis=1)
print(all_data_col)

  subject_id first_name last_name subject_id first_name last_name
0          1       Alex  Anderson          4      Billy    Bonder
1          2        Amy  Ackerman          5      Brian     Black
2          3      Allen       Ali          6       Bran   Balwner
3          4      Alice      Aoni          7      Bryce     Brice
4          5     Ayoung   Atiches          8      Betty    Btisan

### Step 6. Print data3

In [13]:
print("Data3:")
print(data3)

Data3:
  subject_id  test_score
0          1          88
1          2          92
2          3          78
3          4          90
4          5          87

### Step 7. Merge all_data and data3 along the subject_id value

In [15]:
merged_data = pd.merge(all_data, data3, on='subject_id')
print(merged_data)

  subject_id first_name last_name  test_score
0          1       Alex  Anderson          88
1          2        Amy  Ackerman          92
2          3      Allen       Ali          78
3          4      Alice      Aoni          90
4          4      Billy    Bonder          90
5          5     Ayoung   Atiches          87
6          5      Brian     Black          87

### Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2

In [16]:
merged_inner = pd.merge(data1, data2, on='subject_id', how='inner')
print(merged_inner)

  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black

### Step 9. Merge all values in data1 and data2, with matching records from both sides where available.

In [19]:
merged_outer = pd.merge(data1, data2, on='subject_id', how='outer')
print(merged_outer)

  subject_id first_name_x last_name_x first_name_y last_name_y
0          1         Alex    Anderson          NaN         NaN
1          2          Amy    Ackerman          NaN         NaN
2          3        Allen         Ali          NaN         NaN
3          4        Alice        Aoni        Billy      Bonder
4          5       Ayoung     Atiches        Brian       Black
5          6          NaN         NaN         Bran     Balwner
6          7          NaN         NaN        Bryce       Brice
7          8          NaN         NaN        Betty      Btisan