<a href="https://colab.research.google.com/github/PhwTha00/python/blob/main/01_Getting_%26_Knowing_Your_Data/Chipotle/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv', delimiter= "\t")
print(data)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [4]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1

num_observations = len(chipo)
print("Number of observations:", num_observations)

Number of observations: 4622

In [ ]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [6]:
num_columns = len(chipo.columns)
print("Number of columns:", num_columns)

Number of columns: 5

### Step 7. Print the name of all the columns.

In [7]:
print("Column names:")
print(chipo.columns)

Column names:
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
print("Indexing of the dataset:")
print(chipo.index)

Indexing of the dataset:
RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
most_ordered_item = chipo['item_name'].value_counts().idxmax()
print("Most-ordered item:", most_ordered_item)

Most-ordered item: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
num_items_ordered = chipo[chipo['item_name'] == most_ordered_item]['quantity'].sum()
print("Number of items ordered:", num_items_ordered)

Number of items ordered: 761

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()
print("Most ordered item in choice_description:", most_ordered_choice)

Most ordered item in choice_description: [Diet Coke]

### Step 12. How many items were orderd in total?

In [12]:
total_items_ordered = chipo['quantity'].sum()
print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
print("Item price type before conversion:", chipo['item_price'].dtype)

Item price type before conversion: object

#### Step 13.b. Create a lambda function and change the type of item price

In [14]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [15]:
print("Item price type after conversion:", chipo['item_price'].dtype)

Item price type after conversion: float64

### Step 14. How much was the revenue for the period in the dataset?

In [16]:
revenue = (chipo['item_price'] * chipo['quantity']).sum()
print("Revenue for the period:", revenue)

Revenue for the period: 39237.02

### Step 15. How many orders were made in the period?

In [17]:
num_orders = chipo['order_id'].nunique()
print("Number of orders:", num_orders)

Number of orders: 1834

### Step 16. What is the average revenue amount per order?

In [18]:
# Solution 1
avg_revenue_per_order = revenue / num_orders
print("Average revenue amount per order:", avg_revenue_per_order)

Average revenue amount per order: 21.39423118865867

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [19]:
num_different_items = chipo['item_name'].nunique()
print("Number of different items sold:", num_different_items)

Number of different items sold: 50