<a href="https://colab.research.google.com/github/PhwTha00/python/blob/main/03_Stats/US_Baby_Names/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv).

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv")
df.head(20)

    Unnamed: 0     Id       Name  Year Gender State  Count
0        11349  11350       Emma  2004      F    AK     62
1        11350  11351    Madison  2004      F    AK     48
2        11351  11352     Hannah  2004      F    AK     46
3        11352  11353      Grace  2004      F    AK     44
4        11353  11354      Emily  2004      F    AK     41
5        11354  11355    Abigail  2004      F    AK     37
6        11355  11356     Olivia  2004      F    AK     33
7        11356  11357   Isabella  2004      F    AK     30
8        11357  11358     Alyssa  2004      F    AK     29
9        11358  11359     Sophia  2004      F    AK     28
10       11359  11360     Alexis  2004      F    AK     27
11       11360  11361  Elizabeth  2004      F    AK     27
12       11361  11362     Hailey  2004      F    AK     27
13       11362  11363       Anna  2004      F    AK     26
14       11363  11364    Natalie  2004      F    AK     25
15       11364  11365      Sarah  2004      F    AK     25
16       11365  11366     Sydney  2004      F    AK     25
17       11366  11367        Ava  2004      F    AK     23
18       11367  11368    Trinity  2004      F    AK     22
19       11368  11369      Haley  2004      F    AK     21

### Step 3. Assign it to a variable called baby_names.

In [7]:
baby_names = pd.DataFrame(df)
print(baby_names)

         Unnamed: 0       Id     Name  Year Gender State  Count
0             11349    11350     Emma  2004      F    AK     62
1             11350    11351  Madison  2004      F    AK     48
2             11351    11352   Hannah  2004      F    AK     46
3             11352    11353    Grace  2004      F    AK     44
4             11353    11354    Emily  2004      F    AK     41
...             ...      ...      ...   ...    ...   ...    ...
1016390     5647421  5647422     Seth  2014      M    WY      5
1016391     5647422  5647423  Spencer  2014      M    WY      5
1016392     5647423  5647424     Tyce  2014      M    WY      5
1016393     5647424  5647425   Victor  2014      M    WY      5
1016394     5647425  5647426   Waylon  2014      M    WY      5

[1016395 rows x 7 columns]

### Step 4. See the first 10 entries

In [9]:
print(df.head(10))

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [10]:
baby_names = baby_names.drop(['Unnamed: 0', 'Id'], axis=1)
print(baby_names.head(10))

       Name  Year Gender State  Count
0      Emma  2004      F    AK     62
1   Madison  2004      F    AK     48
2    Hannah  2004      F    AK     46
3     Grace  2004      F    AK     44
4     Emily  2004      F    AK     41
5   Abigail  2004      F    AK     37
6    Olivia  2004      F    AK     33
7  Isabella  2004      F    AK     30
8    Alyssa  2004      F    AK     29
9    Sophia  2004      F    AK     28

### Step 6. Is there more male or female names in the dataset?

In [11]:
gender_counts = baby_names['Gender'].value_counts()
print(gender_counts)

F    558846
M    457549
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [12]:
names = baby_names.groupby('Name').sum()
print(names.head())

           Year  Count
Name
Aaban      4027     12
Aadan      8039     23
Aadarsh    2009      5
Aaden    393963   3426
Aadhav     2014      6

<ipython-input-12-669a7db27c5f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  names = baby_names.groupby('Name').sum()

### Step 8. How many different names exist in the dataset?

In [13]:
num_unique_names = baby_names['Name'].nunique()
print(num_unique_names)

17632

### Step 9. What is the name with most occurrences?

In [14]:
most_occurrences_name = baby_names.groupby('Name').sum().idxmax()['Count']
print(most_occurrences_name)

Jacob

<ipython-input-14-1660a26af794>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  most_occurrences_name = baby_names.groupby('Name').sum().idxmax()['Count']

### Step 10. How many different names have the least occurrences?

In [15]:
least_occurrences_count = baby_names['Count'].min()
num_least_occurrences_names = baby_names[baby_names['Count'] == least_occurrences_count]['Name'].nunique()
print(num_least_occurrences_names)

15889

### Step 11. What is the median name occurrence?

In [16]:
median_occurrence = baby_names['Count'].median()
print(median_occurrence)

11.0

### Step 12. What is the standard deviation of names?

In [17]:
std_deviation_names = baby_names['Count'].std()
print(std_deviation_names)

97.39734648617814

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [18]:
summary = baby_names['Count'].describe()
print(summary)

count    1.016395e+06
mean     3.485012e+01
std      9.739735e+01
min      5.000000e+00
25%      7.000000e+00
50%      1.100000e+01
75%      2.600000e+01
max      4.167000e+03
Name: Count, dtype: float64