<a href="https://colab.research.google.com/github/PhwTha00/python/blob/main/05_Apply/Students_Alcohol_Consumption/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv")
df.head

<bound method NDFrame.head of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]>

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [7]:
sliced_df = df.loc[:, 'school':'guardian']
print(sliced_df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     reason guardian
0    course   mother
1    course   father
2     other   mother
3      home   mother
4      home   father
..      ...      ...
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

[395 rows x 12 columns]

### Step 5. Create a lambda function that will capitalize strings.

In [29]:
capitalize_string = lambda x: x.capitalize()
print(df)

    school sex    age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F  18000       U     GT3       A  4000  4000   At_home   Teacher
1       GP   F  17000       U     GT3       T  1000  1000   At_home     Other
2       GP   F  15000       U     LE3       T  1000  1000   At_home     Other
3       GP   F  15000       U     GT3       T  4000  2000    Health  Services
4       GP   F  16000       U     GT3       T  3000  3000     Other     Other
..     ...  ..    ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M  20000       U     LE3       A  2000  2000  Services  Services
391     MS   M  17000       U     LE3       T  3000  1000  Services  Services
392     MS   M  21000       R     GT3       T  1000  1000     Other     Other
393     MS   M  18000       R     LE3       T  3000  2000  Services     Other
394     MS   M  19000       U     LE3       T  1000  1000     Other   At_home

     ... freetime goout  Dalc  Walc  health absences     G1     G2     G3  \
0    ...     3000  4000  1000  1000    3000     6000   5000   6000   6000
1    ...     3000  3000  1000  1000    3000     4000   5000   5000   6000
2    ...     3000  2000  2000  3000    3000    10000   7000   8000  10000
3    ...     2000  2000  1000  1000    5000     2000  15000  14000  15000
4    ...     3000  2000  1000  2000    5000     4000   6000  10000  10000
..   ...      ...   ...   ...   ...     ...      ...    ...    ...    ...
390  ...     5000  4000  4000  5000    4000    11000   9000   9000   9000
391  ...     4000  5000  3000  4000    2000     3000  14000  16000  16000
392  ...     5000  3000  3000  3000    3000     3000  10000   8000   7000
393  ...     4000  1000  3000  4000    5000        0  11000  12000  10000
394  ...     2000  3000  3000  3000    5000     5000   8000   9000   9000

    legal_drinker
0            True
1           False
2           False
3           False
4           False
..            ...
390          True
391         False
392          True
393          True
394          True

[395 rows x 34 columns]

### Step 6. Capitalize both Mjob and Fjob

In [15]:
df['Mjob'] = df['Mjob'].apply(capitalize_string)
df['Fjob'] = df['Fjob'].apply(capitalize_string)
print(df[['Mjob', 'Fjob']].tail())

         Mjob      Fjob
390  Services  Services
391  Services  Services
392     Other     Other
393  Services     Other
394     Other   At_home

### Step 7. Print the last elements of the data set.

In [16]:
print(df.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[5 rows x 33 columns]

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [19]:
df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].applymap(capitalize_string)
print(df[['Mjob', 'Fjob']].head())

      Mjob      Fjob
0  At_home   Teacher
1  At_home     Other
2  At_home     Other
3   Health  Services
4    Other     Other

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [24]:
def majority(age):
    return age > 17

df['legal_drinker'] = df['age'].apply(majority)
print(df['legal_drinker'].head())

0     True
1    False
2    False
3    False
4    False
Name: legal_drinker, dtype: bool

### Step 10. Multiply every number of the dataset by 10.
##### I know this makes no sense, don't forget it is just an exercise

In [27]:
df_numeric = df.select_dtypes(include='number')
df[df_numeric.columns] = df_numeric * 10
print(df[df_numeric.columns].head())

     age  Medu  Fedu  traveltime  studytime  failures  famrel  freetime  \
0  18000  4000  4000        2000       2000         0    4000      3000
1  17000  1000  1000        1000       2000         0    5000      3000
2  15000  1000  1000        1000       2000      3000    4000      3000
3  15000  4000  2000        1000       3000         0    3000      2000
4  16000  3000  3000        1000       2000         0    4000      3000

   goout  Dalc  Walc  health  absences     G1     G2     G3
0   4000  1000  1000    3000      6000   5000   6000   6000
1   3000  1000  1000    3000      4000   5000   5000   6000
2   2000  2000  3000    3000     10000   7000   8000  10000
3   2000  1000  1000    5000      2000  15000  14000  15000
4   2000  1000  2000    5000      4000   6000  10000  10000